@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>>building Web apps and Github Actions Example</a>.</p>
    <p>Add another changes</a>.</p>
</div>
